.menu {




  &__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  }
  &__item {

  }
  &__link  {
    display: block;
    padding: 25px;
    width: 100%;
    color: $alternative-color;
    font-size: 18px;
    line-height: 1.4;
    text-decoration: none;
    margin-bottom: -1px;
    border-top: 1px solid #495562;
    border-bottom: 1px solid #030303;
    text-align: center;
  }

  &__user-items {
    display: flex;
    justify-content: space-between;
  }
  &__logo-link {
    flex-basis: 100px;
  }
  &__toggle {
    flex-basis: 75px;
  }
}
