$font: "Open Sans", "Tahoma", sans-serif;
$font-bold: "Open Sans Bold", "Tahoma", sans-serif;
$font-light: "Open Sans Light", "Tahoma", sans-serif;

$base-color: #283645;
$secondary-color: #d22856;
$alternative-color: #ffffff;

$base-background: #ffffff;
$secondary-background: #f2f2f2;
$alternative-background: #283645;

$tablet-widths: "(min-width: 768px)";
$desktop-widths: "(min-width: 1200px)";
