body {
  font-weight: normal;
  font-family: $font;
  font-size: 14px;
  font-color: $base-color;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1, h2, h3, h4, p, label, legend {
  margin: 0;
}

