.form-block {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  margin: 0 6%;
  border: none;



  &--userdata .form-block__inputgroup{
    display: flex;
    padding-bottom: 25px;

  }
  &--userdata .form-block__inputgroup:last-child {

    padding-bottom: 45px;

  }


  &--filter-checkbox {
    padding-top: 40px;
    padding-bottom: 40px;

  }

  &--filter-checkbox .form-block__legend {
    display: block;
  }

  &--filter-checkbox .form-block__inputgroup,
  &--filter-radio .form-block__inputgroup{
    display: flex;
    flex-direction: column;
   }

  &--contacts .form-block__inputgroup{
    display: flex;
    flex-direction: column;
  }

  &__input-radio {
    display: none;
  }

  &__radiolabel {
    position: relative;
    padding: 25px 0;
    margin-left: 70px;
    font-size: 18px;
    line-height: 30px;
  }


  &__radiolabel::before {
    position: absolute;
    top: 25px;
    left: -70px;
    content: "";
    width: 35px;
    height: 35px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;

  }

  &--filter-radio {

  }
// ========================
  &__input-checkbox {
    display: none;
  }

  &__checklabel {
    position: relative;
    padding: 25px 0;
    margin-left: 70px;
    font-size: 18px;
    line-height: 30px;
  }


  &__checklabel::before {
    position: absolute;
    top: 25px;
    left: -70px;
    content: "";
    width: 35px;
    height: 35px;
    border: 2px solid #e5e5e5;


  }


  // =================================
  &--textarea {
   box-sizing: border-box;
  }

}

input[type="radio"]:checked + label::before {
    content: ".";
    color: $secondary-color;
    font-size: 100px;
}

input[type="checkbox"]:checked + label::before {
    content: "";
    background: url(../img/icon-yes.svg) 7px 8px no-repeat;
}

.form-block__labels {
    color: $secondary-color;
    text-transform: uppercase;
    padding: 15px 20px 15px 0;
    text-align: left;
  }

.form-block__input {
    width: 100%;
    height: 58px;
    padding: 15px 5%;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 30px;
    color: $base-color;
  }

.form-block__legend {
    padding: 40px 0;
    text-align: center;
    color: $secondary-color;
    text-transform: uppercase;
  }




// .form-block__input[placeholder] {
//   font-family:  "Open Sans", "Tahoma", sans-serif;
//   font-size: 18px;
//   line-height: 30px;
//   color: $base-color;
// }

// .form-block__input::-webkit-input-placeholder {
//   font-family:  "Open Sans", "Tahoma", sans-serif;
//   font-size: 18px;
//   line-height: 30px;
//   color: $base-color;
// }

// .form-block__input::-moz-input-placeholder {
//   font-family:  "Open Sans", "Tahoma", sans-serif;
//   font-size: 18px;
//   line-height: 30px;
//   color: $base-color;
// }

// .form-block__input::-ms-input-placeholder {
//   font-family:  "Open Sans", "Tahoma", sans-serif;
//   font-size: 18px;
//   line-height: 30px;
//   color: $base-color;
// }

// .form-block__legend {
//   display: none;
//   }

// =============================================================
@media #{$tablet-widths} {
  .form-block {
    border: 2px solid #e5e5e5;
    margin: 0;

  &--userdata {
    border: none;
    // flex-basis: 100%;
    }

  &--filter-radio {
    background-color: none;
    border: 2px solid #e5e5e5;
    padding: 20px 60px;

    width: 100%;
  }

  &--filter-checkbox {
    order: 4;
    padding: 50px 60px;
  }

  &--contacts {
    padding: 20px 60px;
    order: 2;
  }

  &--textarea {
   padding: 45px 50px;
   border: 2px solid #e5e5e5;
   order: 5;

  }
}
 .form-block__legend {
  display: block;
  color: $secondary-color;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 3%;
  // width: 60%;
  margin: 0 auto;
  box-sizing: border-box;
 }

.tablet-order-1 {
    order: 1;
  }

.tablet-order-3 {
    order: 3;
  }
.form-btn {
  order: 6;
}

}


// =================================================
@media #{$desktop-widths} {
  .form-block {

    &--userdata {
      flex-basis: 47%;
      padding-right: 5%;
      padding-top: 20px;
      // flex-grow: 1;

    }
    &--userdata .form-block__inputgroup{
      padding-bottom: 50px;
    }

    &--filter-radio {
      flex-basis: 47%;

    }
    &--contacts {
      flex-basis: 100%;


    }
    &--filter-checkbox {

      flex-basis: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &--textarea {
      flex-basis: 100%;

    }

  }

  .form-block__checklabel {
    width: 33%;
  }

  .form-btn {
    flex-basis: 100%;

  }
}
