.form-btn {
  padding: 0 6%;
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__submit {
  display: block;
  width: 280px;
  padding: 25px;

  margin-bottom: 30px;
  background-color: #2aab6d;
  color: $alternative-color;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #2aab6d;
  border-radius: 3px;
  text-align: center;
  box-sizing: border-box;
  }

  &__text {
    text-transform: uppercase;
    text-align: center;
  }

sup {
  color: $secondary-color;
  }
}

@media #{$tablet-widths} {
  .form-btn {
  padding-top: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__submit {
    margin-bottom: 80px;
  }
  }
}
