.form-btn {


  &__submit {
  display: block;
  width: 280px;
  padding: 25px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #2aab6d;
  color: $alternative-color;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #2aab6d;
  border-radius: 3px;
  text-align: center;
  box-sizing: border-box;
  }

  &__text {
    text-transform: uppercase;
    text-align: center;
  }

sup {
  color: $secondary-color;
}
}
