.header-promo {

  margin-top: 460px;
  padding-right: 35px;
  display: flex;
  position: relative;
  min-height: 390px;


  &--small-bg {
    min-height: 170px;
  }

  &__image {
    display: block;
    width: 280px;
    height: 290px;
    margin: auto;
    margin-bottom: 0;
  }

  &__title {
    color: $alternative-color;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: auto;


  }

}

@media #{$tablet-widths} {
  .header-promo {
    max-height: 620px;

    &--small-bg {
      min-height: 330px;
    }
  }

}


@media #{$tablet-widths} {
  .header-promo {
    max-height: 620px;

    &--small-bg {
      min-height: 330px;
    }
  }
}


@media #{$desktop-widths} {
  .header-promo {
    &--small-bg {
      min-height: 280px;
    }
  }
}
