 .menu {
   display: flex;
   flex-direction: column;

   &--open {     // opacity: 1;
     background-color: $alternative-background;
   }

   &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }


  &__link  {
    display: block;
    padding: 25px;
    width: 100%;
    color: $alternative-color;
    font-size: 18px;
    line-height: 1.4;
    text-decoration: none;
    margin-bottom: -1px;
    border-top: 1px solid #495562;
    border-bottom: 1px solid #030303;
    text-align: center;
  }

  &__closed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // opacity: 0.7;
    background-color: $alternative-background;
    min-height: 65px;
  }

//   // &__wrapper {
//   //   width: 90%;
//   //   padding: 20px 5%;
//   //   display: flex;
//   //   flex-direction: row;
//   //   justify-content: space-between;
//   //   align-items: center;
//   // }

  &__logo-link {
    flex-basis: 100px;
    padding: 20px 5%;
  }

  &__toggle {
    flex-basis: 100px;
    padding: 20px 5%;
  }
}

@media #{$tablet-widths} {
.menu {
  flex-direction: row;
  background-color: $alternative-background;
  opacity: 0.9;
  min-height: 110px;

  &--open {
    display: none;
    }

  &__link  {
    opacity: 1;
  }

    &__closed {
      min-height: 110px;
      opacity: 0.7;
    }
  }
}

@media #{$desktop-widths} {
  .menu {

//     flex-direction: row;
     justify-content: space-between;


    &--open {
      display: flex;
      flex-basis: 55%;
      order: 1;

      // opacity: 0.3;
      }

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

    }

    &__toggle {
      display: none;
    }

    &__closed {
      order: 0;
      flex-basis: 15%;
    }


//     // &__wrapper {
//     // // width: 80%;
//     // // padding: 20px 10%;
//     // display: none;


    &__link {
      border: none;

     }
  }
}
